@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555555;
}

body {
  font-family: 'Arapey', serif;
  font-size: 1em;
}

ul,
nav {
  list-style: none;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.75;
  color: black;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.05em;
}

nav a:hover,
nav a:focus {
  outline: none;
  text-decoration: none;
  color: #333;
  opacity: 1;
}

h3 {
  font-family: 'Arapey', sans-serif;
}

.cl-effect-6 a {
  margin: 0 10px;
  padding: 10px 20px;
}

.cl-effect-6 a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #30d8c2;
  content: '';
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.cl-effect-6 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #30d8c2;
  content: '';
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
  top: 100%;
  opacity: 1;
}

.cl-effect-6 a:hover::after {
  height: 100%;
}

/* === === === === */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

/* section:not(.hero):nth-child(even) {
  background-color: white;
} */

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 300px;
  height: 1px;
  background-color: white;
  border: 0;
  margin-bottom: 50px;
}

.hr-black {
  width: 300px;
  height: 1px;
  background-color: rgb(89, 99, 238);
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(73, 73, 73);
}

.blue-title {
  color: #192a56;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
  text-align: center;
}

section p {
  max-width: 700px;
  font-weight: 300;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }

  section h3.title,
  .logos .title {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375em;
    line-height: 1.13em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  section {
    padding: 50px 20px;
  }

  section h3.title,
  .logos .title {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375em;
    line-height: 1.13em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 30px;
    text-align: center;
  }
}
/* @media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
} */

header {
  position: absolute;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 2.25em;
  font-weight: 300;
  color: black;
}

header nav {
  font-family: 'Montserrat', sans-serif;
  color: black;
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}

@media (max-width: 800px) {
  header {
    padding: 50px 20px;
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
}

.hero {
  /* position: relative; */
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  line-height: 1.05em;
  font-weight: 600;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #273c75;
  margin-bottom: 20px;
}

.hero h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  color: black;
  margin-bottom: 40px;
}

.hero-content-area {
  position: absolute;
  padding-top: 150;
}

.line-1 {
  opacity: 0;
  animation: 1s slidefade 1s forwards;
}

.line-2 {
  opacity: 0;
  animation: 1s slidefade 3s forwards;
}

.line-3 {
  opacity: 0;
  animation: 1s slidefade 5s forwards;
}

.btn {
  position: absolute;
  top: 70%;
  left: 50%;
}

.button-hero {
  opacity: 0;
  animation: 1s slidefade 7s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -320px;
}

.arrows path {
  stroke: black;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

@media (max-width: 1030px) {
  .hero h1 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.125em;
    /* margin-bottom: 30px; */
  }
  .hero h3 {
    font-size: 1.5em;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.14em;
    /* margin-bottom: 30px; */
  }
  .hero h3 {
    font-size: 1.375em;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.25em;
    /* margin-bottom: 30px; */
  }
  .hero h3 {
    font-size: 1.375em;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

.portfolio {
  background-color: #333;
  color: #fff;
  font-weight: 300;
}

.grid {
  padding: 20px 20px 0px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: white;
}

.cs-style-4 li {
  -webkit-perspective: 1700px;
  -moz-perspective: 1700px;
  perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}

.cs-style-4 figure {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cs-style-4 figure > div {
  overflow: hidden;
}

.cs-style-4 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.cs-style-4 figcaption {
  height: 100%;
  width: 50%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.logos {
  background: white;
}

.logos .title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 30px;
  text-align: center;
}

.logos .grid li {
  padding: 50px;
  flex-basis: 25%;
  text-align: center;
}

.logos .grid li h4 {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 1.125em;
  font-weight: 300;
  margin: 25px 0;
}

@media (max-width: 800px) {
  .logos .grid li {
    flex-basis: 50%;
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .logos .grid li {
    flex-basis: 100%;
    padding: 20px;
  }
}

i.html5 {
  color: rgb(227, 79, 38);
  opacity: 1;
}

i.css3 {
  color: rgb(53, 132, 252);
  opacity: 1;
}

i.sass {
  color: rgb(204, 102, 153);
  opacity: 1;
}

i.js {
  color: rgb(247, 223, 30);
  opacity: 1;
}

i.react {
  color: rgb(0, 216, 255);
  opacity: 1;
}

i.node {
  color: rgb(68, 136, 62);
  opacity: 1;
}

i.wordpress {
  color: rgb(33, 117, 155);
  opacity: 1;
}

i.gulp {
  color: rgb(207, 70, 71);
  opacity: 1;
}

i.git {
  color: rgb(241, 78, 50);
  opacity: 1;
}

i.vuejs {
  color: rgb(66, 184, 131);
  opacity: 1;
}

i.docker {
  color: rgb(13, 183, 237);
  opacity: 1;
}

i.aws {
  color: rgb(255, 153, 0);
  opacity: 1;
}

img.python-logo {
  height: 60px;
  width: 60px;
  opacity: 1;
}

img.tensorflow-logo {
  height: 60px;
  width: 60px;
  opacity: 1;
}

img.shopify-logo {
  height: 60px;
  width: 64px;
  opacity: 1;
}

img.redux-logo {
  height: 60px;
  width: 64px;
  opacity: 1;
}

img.mongo-logo {
  height: 60px;
  width: 64px;
  opacity: 1;
}

img.graphql-logo {
  height: 70px;
  width: 70px;
  opacity: 1;
}

img.apollo-logo {
  height: 60px;
  width: 60px;
  margin: 10px 0 5px 0;
  opacity: 1;
}

img.gatsby-logo {
  height: 60px;
  width: 60px;
  opacity: 1;
}

img.electron-logo {
  height: 70px;
  width: 70px;
  opacity: 1;
}

img.webpack-logo {
  height: 70px;
  width: 70px;
  opacity: 1;
}

img.typescript-logo {
  height: 60px;
  width: 60px;
  opacity: 1;
}

#graphql h4,
#electron h4 {
  margin-top: 10px;
}

#webpack h4 {
  margin-top: 15px;
}

@media (max-width: 800px) {
  i {
    flex-basis: 50%;
  }
}

#about {
  background: rgb(3, 12, 35);
  color: white;
}

.about hr {
  background-color: white;
}

.about .quote {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 40px 0 25px;
}

@media (max-width: 800px) {
  .about .quote {
    font-size: 18px;
    margin: 15px 0;
  }
  .about .author {
    font-size: 14px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(3, 12, 35);
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgb(133, 133, 133);
  align-self: center;
}

footer p a {
  border-bottom: 1px solid white;
}

footer p a:hover {
  color: rgb(22, 9, 61);
  border-bottom: 1px solid rgb(22, 9, 61);
  opacity: 1;
}

#an-link {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.fab,
.fas {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.fab:hover,
.fas:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  footer {
    padding: 30px 20px;
    flex-direction: column-reverse;
  }
  footer p {
    margin-top: 30px;
  }
  #copy {
    font-size: 10px;
  }
}

section.github {
  background: #192a56;
}

#root .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 18rem;
  margin: 5px;
  display: flex;
}

.card-content {
  margin-bottom: 20px;
}

#repo-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#link-end {
  align-self: flex-end;
}

#logo-grid {
  padding-bottom: 0px;
}

#repo-card {
  /* background-color: #fff; */
  background-color: rgb(39, 60, 117);
  color: rgb(255, 255, 255);
  max-width: 700px;
  font-weight: 300;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: left;
  border: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(89, 99, 238);
}

.card-text {
  font-family: 'Arapey', serif;
  font-size: 18px;
}

.repo-button a {
  background-color: rgb(97, 82, 143);
  color: #ffffff;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: auto;
  opacity: 1;
  transition: all 0.1s;
}

.repo-button a:hover {
  background-color: rgb(42, 26, 88);
  color: rgb(255, 255, 255);
}

#about > p {
  font-family: 'Arapey', serif;
  font-size: 18px;
  font-style: italic;
}
